nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
input:focus{
    outline: none;
}

.line{
    border-left: 2px solid turquoise;
    height: 40px;
    margin-left: 100px;
}